.header {

  &__menu {

    &__button {
      display: flex;
      padding: 10px;
      background: #B6EDC8 !important;
      outline: none !important;
      text-decoration: none !important;
      align-items: center;
      justify-content: center;
      transition: all .5s !important;
      color: black !important;
      &:hover {
        background: #115b4c !important;
      }
    }
  }
  &__hamburger__button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B6EDC8;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba(182, 237, 200, 0.3);
    text-align: center;
    transition: all .5s;
    flex-shrink: 0;
  }

}

