
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  //overflow: hidden;
  //position: relative;
  //min-height: 100vh;
  //height: 100vh;
  width: 100%;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  justify-content: center;
    font-size: 1.6rem;
    font-family: 'Figtree', system-ui, sans-serif;
    background: var(--bg);
    color: var(--text-secondary);
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


